@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Releye Developer Case</h1>
</div>
<div class="row">

    <div class="col-md-4">
        <h2>Add New Customer</h2>
        <p>Here You can control all your customer .</p>
        <p><a class="btn btn-default" href="http://localhost:64384/customers">New Customer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add New Country</h2>
        <p>You can here add new Country.</p>
        <p><a class="btn btn-default" href="http://localhost:64384/countries">New Country &raquo;</a></p>
    </div>


</div>
